.classpath
.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea
.project
.settings/
.vscode
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
app/src/main/jniLibs/
gradle/
local.properties
serve/Cargo.lock
serve/target/